.saveQuery {
    position: absolute;
    right: 0;

    border: 0;
    border-radius: 10px;
    padding: 10px;
    background: #74D751;
    transform: translate(-220%, 50%);

    font-size: 17px;
}

.saveQuery > * {
    text-decoration: none;
    color: #000;
}

.saveQuery:hover {
    cursor: pointer;
    opacity: .8;
}
