/*
*/
.searchBar {
    background-color: #fff;
}


.searchIcon {
    color: #A39B9B;
    height: 100% !important;
    width: 1.6em !important;

    z-index: 1;
    margin: 0 .5rem;
}

.searchInput {
    width: 100%;

    font-size: 18px;
    border: none;
}
.searchInput:focus {
    outline: none;
}


.submitButton {
    position: relative;

    border-radius: 10px;
    border: none;

    margin: 6px 14px 6px 4px;
    font-size: 1em;

    width: 9em;

    background-color: #FFA877;
}

.submitButton:hover {
    cursor: pointer;
    opacity: .8;
}
.submitButton:active {
    background: #cc865f;
}

@media (max-width: 1280px) {
    .searchInput {
        width: 65.4%;
    }
}

