.parent {
    height: fit-content;
    margin: 0 0 15px 0;
}
.label {
    /* flex-direction: row; */
    display: flex;
}

.text {
    margin: 0;
}

.input {
    margin: 0 15px;
    margin-left: 10px;
    padding: 0 5px;

    border-radius: 6px;
    border: none;
    outline: none;

    color: black;
    background: #FFA877;

    width: 8.5rem;
}
